* {
  background-color: #31acee;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;
  text-align: center
}


.flex-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main {
  height: 80vh;
}

.main, .title {
  flex-direction: column;
}

.title h1, h2 {
  font-size: 2em;
  padding: 25px;
}

.option-box {
 flex-direction: row;
 width: 100vw;
}

.option, #firstOp, #secondOp {
  border-radius: 400px 400px;
  width: 12vw;
  height: 12vw;
}

.option p {
 font-size: 2em;
 padding: 1em;
}

#firstOp {
  background: url('../assets/norm-img.jpg') center 100%;
}

#secondOp {
  background: url('../assets/exp-img.jpg') center 100%;

}
