<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/final-view.css">
  <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <section class="flex-cont final-view">
    <div class="flex-cont score">
      <div id="score"></div>
      <h1 id="score-phrase"></h1>
    </div>
    <div class="back">
      <a href="../views/themes.html">Try Again!</a>
    </div>
    <script src="../js/final-view.js"></script>
  </section>
</body>
</html>