<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
  <link rel="stylesheet" href="../css/questions.css">
  <title>Document</title>
</head>

<body>
  <h1>Who's that pokémon?</h1>
  <section id="questions" class="flex-cont question-cont">
    <!-- <div class="img-box">
      <img src="" alt="">
    </div>
    <div class="option-box">
      <p><input onchange="answerChecked(this)" type="radio" name=${}>Hola</p>
      <p><input onchange="answerChecked(this)" type="radio" name=${}>${}</p>
      <p><input onchange="answerChecked(this)" type="radio" name=${}>${}</p>
    </div> -->
  </section>
  <script src="../js/questions.js"></script>
</body>

</html>